.linechart {
	width: 100%;
	min-width: 22.5rem;
	max-width: 500px;
	position: relative;
	padding: 1rem;
	padding-top: 0;
	margin: 0 auto;
}

.linechart__label {
	position: absolute;
	top: 0%;
	right: 1rem;
}

.linechart,
.linechart__options,
.linechart__chart,
.linechart__detail {
	background-color: #fff !important;
}

.linechart__chart {
	margin: 0px !important;
}

.linechart__options {
	padding-top: 1rem;
}
