.home {
	width: 100% !important;
	max-width: 1300px;
	margin: 0 auto;
	margin-top: 3rem;
}

.homePage {
	min-width: 22.5rem !important;
	overflow: hidden;
	width: 30.5rem;
	min-height: 45rem !important;
	background: #fff !important;
	transition: all 0.3s;
}

.homePage__overlay {
	background: #fff !important;
	position: relative;
	width: 30rem;
	height: 15rem;
	margin: 0 auto;
	padding-top: 3rem;
}

.homePage__space {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(-20%, 50%);
}

.homePage__button {
	text-align: center;
	margin-top: 13rem;
}

.homePage__tracking {
	position: absolute;
	top: 13rem;
	right: 2rem;
	font-size: 1.2rem;
	font-weight: 500;
	color: rgb(67, 158, 233);
	transition: all 0.3s;
}

.homePage__covid--c {
	position: relative;
}
.homePage__covid--c > span {
	font-size: 10rem;
	position: absolute;
	font-weight: bold;
	transform: translate(-85%, -60%);
}

.homePage__covid--c > span:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
}

.homePage__covid--c > span:nth-child(2) {
	color: #03a9f4;
	animation: textTransition 5s ease-in-out infinite;
}

.homePage__covid--vid {
	position: relative;
}
.homePage__covid--vid > span {
	font-size: 10rem;
	position: absolute;
	font-weight: bold;
	transform: translate(-5%, -60%);
}

.homePage__covid--vid > span:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
}

.homePage__covid--vid > span:nth-child(2) {
	color: #03a9f4;
	animation: textTransition 5s ease-in-out infinite;
}

.homePage__overlay img {
	width: 100px;
	height: 100px;
	animation: rotate 30s ease-in-out infinite;
}

.homePage__overview {
	width: 100%;
	max-width: 500px;
	font-size: 13px;
	text-align: center;
	font-weight: 500;
	margin: 0 auto;
}

.homePage__overview p {
	margin: 0 !important;
}

.color--green {
	color: green;
}

.color--blue {
	color: rgb(12, 123, 226);
}

.color--dark {
	color: rgb(88, 57, 201);
}

.color--red {
	color: rgb(219, 31, 31);
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes textTransition {
	0% {
		clip-path: polygon(
			0 64%,
			12% 59%,
			19% 56%,
			26% 54%,
			34% 54%,
			42% 58%,
			47% 63%,
			52% 65%,
			60% 68%,
			70% 67%,
			76% 63%,
			84% 64%,
			90% 61%,
			96% 60%,
			100% 55%,
			100% 100%,
			0% 100%
		);
	}
	50% {
		clip-path: polygon(
			1% 74%,
			10% 64%,
			16% 59%,
			23% 59%,
			34% 60%,
			42% 58%,
			47% 63%,
			52% 65%,
			60% 67%,
			69% 64%,
			76% 63%,
			84% 64%,
			92% 67%,
			96% 64%,
			100% 61%,
			100% 100%,
			0% 100%
		);
	}
	100% {
		clip-path: polygon(
			0 64%,
			12% 59%,
			19% 56%,
			26% 54%,
			34% 54%,
			42% 58%,
			47% 63%,
			52% 65%,
			60% 68%,
			70% 67%,
			76% 63%,
			84% 64%,
			90% 61%,
			96% 60%,
			100% 55%,
			100% 100%,
			0% 100%
		);
	}
}

@media screen and (max-width: 500px) {
	.homePage {
		margin-top: -5rem;
	}
	.news {
		margin-top: -10rem;
	}
}

@media screen and (max-width: 1000px) {
	.news {
		padding: 1rem;
		margin-top: -10rem;
	}
}
@media screen and (max-width: 1100px) {
	.homePage__covid--c > span {
		font-size: 10rem;
		position: absolute;
		font-weight: bold;
		transform: translate(-85%, -60%);
	}

	.homePage__covid--c > span:nth-child(1) {
		color: transparent;
		-webkit-text-stroke: 2px #03a9f4;
	}

	.homePage__covid--c > span:nth-child(2) {
		color: #03a9f4;
		animation: textTransition 5s ease-in-out infinite;
	}

	.homePage__covid--vid {
		position: relative;
	}
	.homePage__covid--vid > span {
		font-size: 10rem;
		position: absolute;
		font-weight: bold;
		transform: translate(-5%, -60%);
	}
	.homePage__tracking {
		position: absolute;
		top: 13rem;
		right: 4.5rem;
		font-size: 1.2rem;
		font-weight: 500;
		color: rgb(67, 158, 233);
	}
}

.news {
	width: 100% !important;
	height: 40rem;
	background: #fff !important;
	overflow-y: scroll;
	padding-right: 1rem;
	transition: all 0.3s;
}

.news > h1 {
	font-size: 3rem;
	font-weight: 700;
	color: rgb(89, 168, 233);
	letter-spacing: 3px;
	margin-bottom: 0 !important;
}

.news > h1 > img {
	width: 20px;
	margin-bottom: 2rem;
}

.content__time {
	font-weight: 500;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
